@font-face
{
    font-family: 'signboard';
    src: url('assets/signboard/signboard.ttf');
}

body{
    background-image: url("assets/back.png");
    background-position-x: 10%;
    background-position-y: 10%;
    background-size: 100%;
}


.floppy{
    position: relative;
    width: 6%;
}
.cross{
    position: relative;
    width: 16%;
    bottom: 20%;
    left: 88%;
}


.retrivedTodo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgba(255, 255,255, 0.5);
    border-radius: 1%;
    margin-bottom: 5%;
    font-family: 'Permanent Marker';
    padding: 2%;
}
.retrivedTodo:hover{
    transform: scale(1.1);  
    background-color:rgba(255, 255,255, 0.7);  
}

.addDelUpdt{
    display: flex;
    flex-direction: row;
    width: 98%;
    justify-content: space-between;
}
input{
    font-size: 1em;
    font-family: 'Permanent Marker';
    background-color: transparent;
    width: fit-content;
    border: none;
    border-style: none;
    align-self: center;
    text-align: center;
}


#forms{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 1.5%;
    right: 30%;
    width :fit-content;
    top: 30%;
    background-color: rgba(255, 255,255, 0.5)
   
}
#inputform{
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    padding: 3%;
    background-color: transparent;
    border-radius: 1%;
    font-size: 0.7em;
}


 